</main>
<footer class="footer bg-dark text-light d-flex flex-column align-items-center justify-content-center">
        <div class="container m-0 p-0 d-flex align-items-center justify-content-between">
                <a href="/" class="p-1 pt-3 text-light"><i class="fa-solid fa-house fa-fw fa-2x"></i></a>
                <small class="copyright text-center">${copyright}</small>
                <a href="#top" class="p-1 pt-3 text-light"><i class="fa-solid fa-circle-up fa-fw fa-2x"></i></a>
        </div>
        <div class="container m-0 p-0 d-flex justify-content-around align-items-center  border-top border-2 mt-1 pb-4">
                <div class="d-flex flex-column pt-4 lh-lg">
                        <h5>Redes Sociais</h5>
                        <a href="https://facebook.com" target="_blank" class="text-light ps-2"><i
                                        class="fa-brands fa-square-facebook fa-fw"></i> Facebook</a>
                        <a href="https://instagram.com" target="_blank" class="text-light ps-2"><i
                                        class="fa-brands fa-square-instagram fa-fw"></i> Instagram</a>
                        <a href="https://youtube.com" target="_blank" class="text-light ps-2"><i
                                        class="fa-brands fa-square-youtube fa-fw"></i> Youtube</a>
                        <a href="https://github.com" target="_blank" class="text-light ps-2"><i
                                        class="fa-brands fa-square-github fa-fw"></i> GitHub</a>
                </div>
                <div class="d-flex flex-column pt-4 lh-lg">
                        <h5>Acesso rápido</h5>
                        <a href="/about#site" target="_blank" class="text-light ps-2"><i
                                        class="fa-solid fa-globe fa-fw"></i> O Site</a>
                        <a href="/about#authors" target="_blank" class="text-light ps-2"><i
                                        class="fa-solid fa-user-tie fa-fw"></i> Autores</a>
                        <a href="/privacy" target="_blank" class="text-light ps-2"><i
                                        class="fa-solid fa-user-lock fa-fw"></i> Privacidade</a>
                        <a href="/contacts" target="_blank" class="text-light ps-2"><i
                                        class="fa-solid fa-comments fa-fw"></i> Contatos</a>
                </div>
        </div>
</footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
${pageJS}
</body>

</html>