<#include "_header.html">

<header class="container-fluid topbanner m-0 p-0">

    <div class="header-flex">
        <div class="header-flex-img"><img src="/img/barbershop-trim.jpg" alt="Barbas Vanilla"></div>
        <div class="header-flex-text">
            <h2>Barba´s Vanilla</h2>
            <p>Experiência, estilo e precisão! No Barbas Vanilla, cada corte é uma obra de arte, e cada barba
               recebe o cuidado que merece. </p>
        </div>
    </div>

</header>

<article class="container flex-grow-1 content text-light">
<h2>Olá!</h2>
<p>Você está na página inicial...</p>
</article>

<#include "_footer.html">